.container {
    background-color: gray;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    display: flex;
    /*auto grow to fit available space*/
    flex-grow: 0;
    margin: 5px;
    /*enable line break*/
    white-space: pre-line;
}
