.container {
    user-select: none;
    color: dimgray;
    border-radius: 10px;
    font-size: 20px;
    display: flex;
    justify-self: stretch;
    align-self: stretch;
    white-space: pre-line;
    align-items: center;
    justify-content: center;
    margin: 2px;
    transition: transform 0.2s linear;
    cursor: pointer;
}

.container:hover {
    transform: scale(1.1);
}

