.App {
    text-align: center;
    height: 90vh;
    background: grey;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}


.App-link {
    color: #61dafb;
}

.PanView {
    width: 95%;
    background: whitesmoke;
}

.List {
    width: calc(100% - 40px);
    padding: 20px;

}

.TestContainer {
    background-color: red;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.Test1 {
    background-color: gray;
    display: flex;
    flex-grow: 1;
}

.Test2 {
    background-color: green;
    display: flex;
    flex: 1;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.grid-container {
    width: 500px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 80px;
    grid-gap: 2px;
    background-color: #2196F3;
    grid-auto-flow: row dense;
    padding: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 30px;
    text-align: center;
}
